@font-face {
    font-family: "Apollo";
    src: url('');
}

body {
    overflow-x: hidden;
}

.dot {
    margin: 6px 6px 0px 0px;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

/* Navbar */
.navbar {
    padding: 0px;
    background-color: black;
}

.navbar img {
    height: 60px;
}

/* End navbar */

/* Div before Map container*/

#title-current-place {
    font-size: x-large;
}

#title-nav2 {
    margin-left: 15px;
    margin-top: 10px;
}

.nav2 {
    color: black;
    font-size: 10px;
    margin-left: -38px;

}

.nav2 ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.nav2 li {
    display: inline;
    font-size: 11px;
    margin-right: 10px;
}

.nav2 a {
    color: black;
}

.nav2 a:hover {
    font-weight: bold;
    text-decoration: none;
}


/* End Div before Map container*/

/* Map section */
.map {
    height: 628px;
}

.plan img {
    width: 100%;
}

/* info bubble */
.info-bubble {
    color: #a0a0a0;
    font-weight: bold;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.80);
    height: 628px;
    width: 340px;
}

.info-bubble img {
    width: 100%;

}

.container-img {
    position: relative;
    text-align: center;
    color: white;
}

.container-img a {
    color: white;

}

.top-left {
    font-size: large;
    position: absolute;
    top: 8px;
    left: 16px;
}

.bottom-right {
    color: #e7e7e7;
    font-size: x-large;
    position: absolute;
    bottom: 0px;
    right: 16px;
}

.top-right {
    font-size: large;
    position: absolute;
    top: 8px;
    right: 16px;
}

.label-info {
    color: #C8AD7F;
    font-size: larger;
    font-weight: bold;
}

/* End Map section */


/* Timeline navigation */
.timeline-nav {
    color: #C8AD7F;
}


#lineCont {
    width: 100%;
    height: 20%;
}

#line {
    height: 2px;
    width: 70%;
    background: black;
    border-radius: 5px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

#span {
    display: none;
    width: 70%;
    margin: auto;
    margin-top: 25%;
    text-align: center;
    color: black;
}

.circle {
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 15px;
    position: absolute;
    top: -7px;
    border: 2px solid #C8AD7F;
    cursor: pointer;

}

.circle.active {
    width: 18px;
    height: 18px;
    background-color: #C8AD7F;
}


circle:before {
    content: '';
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    border-radius: 100%;
    top: 2px;
    left: 2px;
    display: none;

}

.popupSpan {
    width: auto;
    height: auto;
    padding: 10px;
    white-space: nowrap;
    display: inline-block;
    color: black;
    position: absolute;
    top: -40px;
    left: -21px;
    /* none pour affichage de la date au deplacement */
    display: block;
    transition: all 0.1s ease-out;

}

.circle.hover:before,
.circle.active:before {
    display: block;
}

.circle.hover .popupSpan,
.circle.active .popupSpan {
    display: block;

}

.circle.active .popupSpan {
    top: -40px;
    left: -21px;
}


#mainCont {
    height: 80%;
    width: 100%;
    position: relative;
    color: black;
    font-size: 62px;
    text-align: center;
    transition: all 0.2s ease-out;
}

#maintCont span {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30%;
    transition: all 0.2s ease-out;
}

circle.right {
    left: 200%;
}

circle.center {
    left: 0% !important;
}

circle.left {
    left: -100%;
}

/* Timeline navigation */

/* Footer */
footer {
    padding-top: 10px;
}

.page-footer {
    color: white;
    background-color: black;
    font-size: 12px;
}

.page-footer a {
    text-decoration: none;
    color: white;
    transition: 200ms ease-in-out;
}

.page-footer a:hover {
    text-decoration: none;
    color: #C8AD7F;
    transition: 200ms ease-in-out;

}

.page-footer .title-footer p {
    color: #C8AD7F;
    font-weight: bold;
    margin-bottom: 2px;
}


.justify-content-center {
    margin-right: 0 !important;
}

/* End Footer */



.change-section {
    margin-top: 5px;
}

#box {
    background-color: rgb(249, 249, 249);
    padding: 10px;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    border: 1px solid black;
}


.card_recap{
    width: 100%;
    height: 75px;
    padding: 5px;
    border-radius: 5px;
    display:inline-block;
    margin:0 auto;
    color: #fff;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%) !important;
  }
  
  .text_recap{
  float:left;
  font-weight: bold;
  opacity: .8;
  font-size: 16px;
  }
  
  
  .text_right {
      float: right;
      font-weight: bold!important;
      font-size: 2.3rem;

  }

  .card_recap span {
    font-size: 14px;
    font-weight: normal;
    opacity: .5;
    float: left;
}

@media screen and (max-width:1000px){
    .card_recap span {
        display: none;
    }
}
.btn-primary { 
    color: #ffffff; 
    background-color: #B39664; 
    border-color: #A37C39; 
  } 
   
  .btn-primary:hover, 
  .btn-primary:focus, 
  .btn-primary:active, 
  .btn-primary.active, 
  .open .dropdown-toggle.btn-primary { 
    color: #ffffff; 
    background-color: #A88C5C; 
    border-color: #A37C39; 
  } 
   
  .btn-primary:active, 
  .btn-primary.active, 
  .open .dropdown-toggle.btn-primary { 
    background-image: none; 
  } 
   
  .btn-primary.disabled, 
  .btn-primary[disabled], 
  fieldset[disabled] .btn-primary, 
  .btn-primary.disabled:hover, 
  .btn-primary[disabled]:hover, 
  fieldset[disabled] .btn-primary:hover, 
  .btn-primary.disabled:focus, 
  .btn-primary[disabled]:focus, 
  fieldset[disabled] .btn-primary:focus, 
  .btn-primary.disabled:active, 
  .btn-primary[disabled]:active, 
  fieldset[disabled] .btn-primary:active, 
  .btn-primary.disabled.active, 
  .btn-primary[disabled].active, 
  fieldset[disabled] .btn-primary.active { 
    background-color: #B39664; 
    border-color: #A37C39; 
  } 
   
  .btn-primary .badge { 
    color: #B39664; 
    background-color: #ffffff; 
  }

  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #866b3d; 
    border-color: #A37C39; 
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(134, 107, 61, 0.38);
}